[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
sqlalchemy = "==1.4.23"
pymysql = "==1.0.0"
apscheduler = "==3.7.0"
pandas = "==1.1.5"
tqdm = "==4.62.2"
visualization = {editable = true, path = "."}
fastapi = "==0.60.1"
uvicorn = "==0.15.0"
ujson = "==4.1.0"
python-multipart = "==0.0.5"
celery = "==4.4.7"
redis = "==3.5.3"
loguru = "==0.4.1"
requests = "==2.22.0"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
